.App {
  text-align: center;
}
.cards{
  background-color: bisque;
  
}
.head{
  font-family: 'Times New Roman', Times, serif;
}

.card2{
  border-radius: 10px;
  text-align: start;
  font-family: 'Times New Roman', Times, serif;
  padding: 10px;
  font-size: 60px;
}
.card-2{
  font-size: x-large;

}
.inputs{
  text-align: start;

}
#filled-basic{
  width: 400px;
}
@media only screen and (max-width: 600px){
  .cards{
    height: 100vh;
  }
  .inputs{
    text-align: center;
  
  }
  #filled-basic{
    width: 300px
  }
}